._btn-primary {
  background-color: $desert-orange;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-family: 'Amatic SC', cursive;
  -webkit-text-stroke: 1px whitesmoke;
  text-align: center;
}

._btn-secondary {
  text-align: center;
  background-color: $night-black;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-family: 'Amatic SC', cursive;
  -webkit-text-stroke: 1px whitesmoke;
}
