$acme-red: #F52215;
$desert-orange: #F53D15;
$coyote-brown: #8E332C;
$desert-yellow: #FDF191;
$sand-yellow: #FCF1C3;
$granite-yellow: #F4E3B1;
$commom-gray: #ADB4D0;
$lighter-gray: #C1C2E1;
$night-black: #1C1825;

