.checkout-info {
  width: 60%;
  padding: 0 10px;

  > .name
  > .color
  > .size {
    width: 100%;
    display: flex;
    font-size: 20px;
  }

  > .name {
    font-size: 24px;
    -webkit-text-stroke: 1px $dark;
  }

  > .color {
    display: flex;
    > .label{ width: fit-content; }
  }

  > .size {
    display: flex;
  }
}
