.comment-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #F53D15BF;
  border-radius: 5px;
  font-family: 'Amatic SC', cursive;

  > .title {
    color: $sand-yellow;
  }
}
