.footer-icons {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background-color: $neutral;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  > .icon {
    width: 24px;
  }
}

@include media-breakpoint-up(sm) {
  .footer-icons {
    > .icon {
      width: 36px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .footer-icons {
    display: none;
  }
}
