.left-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 5px;
  > .delivery, .send {
    border: solid $dark 1px;
    border-radius: 10px;
    width:60%;
    margin: 10px auto;
    margin-left: 0;
  }

  > .deliverybtn, .sendbtn {
    width: fit-content ;
    margin: 10px auto;
    height: 30px;
    margin-right: 0;
  }

  > .send {
    width: 75%;
  }
}
