@import "./helpers/_fonts";
@import "./helpers/_variables.scss";

$primary: $acme-red;
$secondary: $desert-orange;
$neutral: $commom-gray;
$dark: $night-black;
$light: whitesmoke;

.row {
  padding:0 !important;
  margin: 0 !important;
}

body {
  background-color: $sand-yellow !important;
}

ul {
  list-style: none;
}

@import "~bootstrap/scss/bootstrap";
@import "./footer-icons.scss";
@import "./navbar-container.scss";
@import "./heading-container.scss";
@import "./search-bar.scss";
@import "./product-container.scss";
@import "./products-container.scss";
@import "./page-container.scss";
@import "./header-container.scss";
@import "./input-container.scss";
@import "./icon-container.scss";
@import "./footer-container.scss";
@import "./about-list.scss";
@import "./contact-list.scss";
@import "./icon-list.scss";
