@import "./helpers/_fonts";
@import "./helpers/_variables.scss";
@import "./helpers/_buttons.scss";

$primary: $acme-red;
$secondary: $desert-orange;
$neutral: $commom-gray;
$dark: $night-black;
$light: whitesmoke;

.row {
  padding:0 !important;
  margin: 0 !important;
}

body {
  background-color: $sand-yellow !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

@import "~bootstrap/scss/bootstrap";
@import "./footer-icons.scss";
@import "./navbar-container.scss";
@import "./heading-container.scss";
@import "./search-bar.scss";
@import "./product-container.scss";
@import "./products-container.scss";
@import "./page-container.scss";
@import "./header-container.scss";
@import "./input-container.scss";
@import "./icon-container.scss";
@import "./footer-container.scss";
@import "./about-list.scss";
@import "./contact-list.scss";
@import "./icon-list.scss";
@import "./bag-button.scss";
@import "./color-container.scss";
@import "./comment-container.scss";
@import "./comment-section.scss";
@import "./information-container.scss";
@import "./name-block.scss";
@import "./price-container.scss";
@import "./quantity-container.scss";
@import "./product-info.scss";
@import "size-container.scss";
@import "bag-page.scss";
@import "product-list.scss";
@import "finish-buy.scss";
@import "left-container.scss";
@import "right-container.scss";
@import "checkout-product.scss";
@import "checkout-info.scss";
