.navbar-container {
  display: flex;
  overflow-x: auto;
  font-family: skullts2;
  background-color: $secondary;
  > .item {
    font-size: 30px;
    margin: 0 5px;
    min-width: fit-content;
    color: $light;
  }
}
